# shellcheck shell=fish
if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
fi
use flake

PATH_add /Applications/MATLAB_R2024b.app/bin
PATH_add /Applications/Julia-1.11.app/Contents/Resources/julia/bin
