[submodule "grad"]
	path = grad
	url = git@github.com:vaisriv/uni-grad
[submodule "undergrad"]
	path = undergrad
	url = git@github.com:vaisriv/uni-undergrad
[submodule "notes"]
	path = notes
	url = git@github.com:vaisriv/uni-notes
[submodule "hw-template"]
	path = msc/templates/hw-template
	url = git@github.com:vaisriv/hw-template
[submodule "hw-setup"]
	path = msc/templates/hw-setup
	url = git@github.com:vaisriv/hw-setup
[submodule "enae441-hw-template"]
	path = msc/templates/enae441-hw-template
	url = git@github.com:vaisriv/enae441-hw-template
