[submodule "notes"]
	path = notes
	url = github:vaisriv/uni-notes.git
[submodule "24f/ENAE380/final/code"]
	path = 24f/ENAE380/final/code
	url = github:vaisriv/nfl-rss-nlp
[submodule "24f/ENAE311H/final/code"]
	path = 24f/ENAE311H/final/code
	url = github:vaisriv/wave-rider-dynamics
